<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1064898142646-a4ov2n4so05coamgqoijbbnabopbeepo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1064898142646-a4ov2n4so05coamgqoijbbnabopbeepo</string>
	<key>API_KEY</key>
	<string>AIzaSyC9jYDY8Byd13crRLYaKIfzveCT3DepJuI</string>
	<key>GCM_SENDER_ID</key>
	<string>1064898142646</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Kvashnin.-Brata</string>
	<key>PROJECT_ID</key>
	<string>brata-fcaaa</string>
	<key>STORAGE_BUCKET</key>
	<string>brata-fcaaa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1064898142646:ios:9cf08a5f614ee6552ca117</string>
</dict>
</plist>